@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  --slack-color: #3f0f40;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.app__body {
  display: flex;
  height: 100vh;
}
